* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    height: 100%;
}

.clear {
    clear: both;
}
header{
    width: 100%;
    padding:20px 2%;
    background-color: rgb(39, 37, 37);
}
.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.container h1{
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.container nav ul{
    position: relative;
    top: 8px;
}
.container nav ul li{
    display:inline-block;
    margin-left: 25px;
}
.container nav ul li a{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
section.imagem-anime-top{
    width: 100%;
    height: 40vh;
    background: url('https://www.wallpapertip.com/wmimgs/46-468960_anime-4k-desktop-background-wallpaper-hd-anime-wallpaper.jpg');
    background-position: center;
    background-size: cover;
}





/*criando media queries*/
@media screen and (max-width: 768px){
 .container h1{
     margin: 0 auto;
 }
 .container nav ul{
     display:none;
 }
}